@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body, html, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #050505;
  
  font-family: 'Righteous', cursive;
  
  
}

@media screen and (max-width: 480px) {
  body, html, #root {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #050505;
  }
  .landing {
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #050505;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    font-size: 12px;
    letter-spacing: 0.75px;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
  
  }

  h1,h2,h3{
    display: none;
  }
  
  button {
    display: none;
  }
  
  .rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(255, 255, 255);
    width: 40%;
  
  }

  .title{
    
    display: none;
  
}

  .instruct {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .rotate {
   display: none;
  
  }

  .title{
    
      max-width: 70%; /* shrink the image to 50% of its original size */
      display: block;
      margin: 0 auto; /* center the image horizontally */
      position:absolute;
      top: 40%;
      
      transform: translateY(-50%);
      z-index: 1;
    
  }

  .instruct{
    position: absolute;
    top: 40%;
    left: 50%;
    max-width: 80%; /* the image will always cover 80% of the screen */
    max-height: 100%;
    transform: translate(-50%, -50%); /* center the image both horizontally and vertically */
  }

  .fortune{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%; /* the image will always cover 80% of the screen */
    max-height: 100%;
    transform: translate(-50%, -50%); /* center the image both horizontally and vertically */

  }

  .landing {
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #813333;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('assets/bg-op.jpg') no-repeat center center fixed; 
  
  }

  .ins {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #813333;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 0 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('assets/ins.jpg') no-repeat center center fixed;
  }
}






  


.controls {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: none;
  opacity: 0.9;
  color: white;
  padding: 5px;
  display: none;
  
}

.tools {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  opacity: 1;
  color: white;
  padding: 5px;
  display: none;
  
}

p {
  margin: 5px;
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 0.75px;
}


.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #171718;
  border-radius: 20px;
  width: 220px;
  height: 400px;
  Display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 30px 50px 100px #38393a;
  
}

.modal-stand {
  position: absolute;
  top: 1;
  bottom: 1;
  width: 20px;
  height: 50%;
  background: linear-gradient(to top, #b45123, #c97046);
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.modal-stand.left {
  left: -12px;
}

.modal-stand.right {
  right: -12px;
}

.modal-content {
  border: 1px solid #121213;
  border-radius: 15px;
  width: 94%;
  height: 95%;
  background-color: #fad9c9;
  overflow: hidden;

  
  
}




.modal {
  /* Other styles for the modal */
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal.open {
  bottom: 10rem;
  left: 15rem;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.modal.closed {
  bottom: -200px;
  left: 15rem;
  opacity: 0;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.front-cam {
  position: absolute;
  top: 8px;
  left:35%;

  
  
  width: 35%;
  height: 10%;
  
  
}



.grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.toggle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: none;
  opacity: 1;
  color: white;
  padding: 5px;
}

@media only screen and (max-height: 500px) {
  .modal {
    bottom: 0;
    left: 0;
    background-color: #151616;
    border-radius: 20px;
    width: 130px;
    height: 250px;
    Display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
  }

  .modal-stand {
    position: absolute;
    top: 1;
    bottom: 1;
    width: 15px;
    height: 50%;
    background: linear-gradient(to top, #b45123, #c97046);
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  }
  
  .modal-stand.left {
    left: -10px;
  }
  
  .modal-stand.right {
    right: -10px;
  }

  .modal-content {
    border: 1px solid #161718;
    border-radius: 20px;
    width: 94%;
    height: 95%;
    background-color: #fad9c9;
    overflow: hidden;
  }

  .modal {
    /* Other styles for the modal */
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .modal.open {
    bottom: 2rem;
    left: 6rem;
    opacity: 1;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .modal.closed {
    bottom: -200px;
    left: 6rem;
    opacity: 0;
    
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .front-cam {
    position: absolute;
    top: 5px;
    left:33%;
    
    
    width: 35%;
    height: 10%;
  }

  .landing {
 
   
    padding: 0 0px;
    overflow: hidden;
    background: url('assets/bg-op.jpg') ; 
    background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; 

 
  
  }
  



  .ins {
    
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    overflow: hidden;
    background: url('assets/ins.jpg') ; 
    background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
    
  
  
}

.ins img {
  width: 40em;
  height: 20em;
 
}

.instruct{
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 75%; /* the image will always cover 80% of the screen */
  
  transform: translate(-50%, -50%); /* center the image both horizontally and vertically */
}

.fortune{
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 75%; /* the image will always cover 80% of the screen */
  
  transform: translate(-50%, -50%); /* center the image both horizontally and vertically */
}

 

  .start{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: absolute;
    bottom: 0;
    border: #9e4343;
    border-width: 1px;
    z-index: 20;
    height: 10px;
    

    
  
}

 .start img{
  width: 150px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
 }


}


.arrow-key {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #333;
}

.up-down-arrow-key {
  display: block;
}

.left-right-arrow-key {
  display: block;
  margin: 0 auto;


}

c-img {
  width: 20 px;
  height: 20 px;
  z-index: 1;
  
}


button {
  background: rgb(173, 25, 25);
  padding: 0px;
  border-radius: 15px;
  border: 1px solid #333;
  margin-right: 5px;
  margin-left: 5px;

}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgb(255, 255, 255);
  width: 10%;

}



button {
  background: rgb(173, 25, 25);
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #333;
  
  font-family: 'Fredoka One', cursive;
  font-size: 12px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.start{
  
    background: none;
    position: absolute;
    bottom: 15%;
    left: 40%;
    
    cursor: pointer;
    border: none;
    
  
}

.steering-left {
  position: absolute;
  bottom: 0px;
  right: 21%;
  background-color: #85888C;
  opacity: 0.8;
  color: white;
  padding: 5px;
  width: 20%;
  height: 48%;
  float:left;
  background: none;
}

.steering-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #85888C;
  opacity: 0.8;
  color: white;
  padding: 5px;
  width: 20%;
  height: 48%;
  float:left;
  background: none;
}



.prize-enter, .message-enter, .lottie-enter {
  opacity: 0;
  
}

.prize-enter-active, .message-enter-active, .lottie-enter-active {
  opacity: 1;
  
  transition: opacity 600ms ease-in, transform 300ms ease-in;
}

.prize-exit, .message-exit, .lottie-exit {
  opacity: 1;
}

.prize-exit-active, .message-exit-active, .lottie-exit-active {
  opacity: 0;
  
  transition: opacity 600ms ease-out, transform 300ms ease-out;
}















